{% extends '::cdominguezbase.html.twig' %}
{% set active = 'Cuentas' %}
{% spaceless %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/baseejstreegrid/Grid/GridE.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/baseejstreegrid/js/gridExtension.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/mysitecdominguez/js/cuentas.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/basehighcharts/highcharts.js') }}" ></script>
        <script type="text/javascript">
            $('#da-wrapper').css('min-width', 200);
            var _cdominguez = {
                'urls'  : {
                    'cuentas' : '{{ path('cd_cuentas') }}'
                }
            };
        </script> 
        <script type="text/javascript">
            $(function () {
                var chart;
                $(document).ready(function() {

                    var colors = [];
                    colors.push('blue');
                    colors.push('green');
                    colors.push('orange');
                    colors.push('pink');
                    colors.push('yellow');
                    colors.push('red');
                    colors.push(Highcharts.getOptions().colors[0]);
                    colors.push(Highcharts.getOptions().colors[1]);
                    colors.push(Highcharts.getOptions().colors[2]);
                    colors.push(Highcharts.getOptions().colors[3]);
                    colors.push(Highcharts.getOptions().colors[4]);
                    colors.push(Highcharts.getOptions().colors[5]);
                    
                    var categories = ['Mamá', 'Compras', 'Mamá Luisa', 'Almuerzo', 'Pases', 'Paseo puntarenas', 'Prestamos', 'Cine', 'Mensualidad', 'Celular' ],
                        name = 'Categorias',
                        data = [{
                                y: 90000,
                                color: colors[0],
                                drilldown: {
                                    name: 'MSIE versions',
                                    categories: ['MSIE 6.0', 'MSIE 7.0', 'MSIE 8.0', 'MSIE 9.0'],
                                    data: [10.85, 7.35, 33.06, 2.81],
                                    color: colors[0]
                                }
                            }, {
                                y: 72760,
                                color: colors[1],
                                drilldown: {
                                    name: 'Firefox versions',
                                    categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                                    data: [0.20, 0.83, 1.58, 13.12, 5.43],
                                    color: colors[1]
                                }
                            }, {
                                y: 30000,
                                color: colors[2],
                                drilldown: {
                                    name: 'Firefox versions',
                                    categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                                    data: [0.20, 0.83, 1.58, 13.12, 5.43],
                                    color: colors[1]
                                }
                            }, {
                                y: 25900,
                                color: colors[3],
                                drilldown: {
                                    name: 'Firefox versions',
                                    categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                                    data: [0.20, 0.83, 1.58, 13.12, 5.43],
                                    color: colors[1]
                                }
                            }, {
                                y: 22325,
                                color: colors[4],
                                drilldown: {
                                    name: 'Firefox versions',
                                    categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                                    data: [0.20, 0.83, 1.58, 13.12, 5.43],
                                    color: colors[1]
                                }
                            }, {
                                y: 19000,
                                color: colors[5],
                                drilldown: {
                                    name: 'Firefox versions',
                                    categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                                    data: [0.20, 0.83, 1.58, 13.12, 5.43],
                                    color: colors[1]
                                }
                            }, {
                                y: 18000,
                                color: colors[6],
                                drilldown: {
                                    name: 'Firefox versions',
                                    categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                                    data: [0.20, 0.83, 1.58, 13.12, 5.43],
                                    color: colors[1]
                                }
                            }, {
                                y: 15500,
                                color: colors[7],
                                drilldown: {
                                    name: 'Firefox versions',
                                    categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                                    data: [0.20, 0.83, 1.58, 13.12, 5.43],
                                    color: colors[1]
                                }
                            }, {
                                y: 10000,
                                color: colors[8],
                                drilldown: {
                                    name: 'Firefox versions',
                                    categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                                    data: [0.20, 0.83, 1.58, 13.12, 5.43],
                                    color: colors[1]
                                }
                            }, {
                                y: 3000,
                                color: colors[9],
                                drilldown: {
                                    name: 'Firefox versions',
                                    categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                                    data: [0.20, 0.83, 1.58, 13.12, 5.43],
                                    color: colors[1]
                                }
                            }];

                    function setChart(name, categories, data, color) {
                        chart.xAxis[0].setCategories(categories);
                        chart.series[0].remove();
                        chart.addSeries({
                            name: name,
                            data: data,
                            color: color || 'white'
                        });
                    }

                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'containerHighchart',
                            type: 'column'
                        },
                        title: {
                            text: 'Las 15 Categorias en las que mas gasto.'
                        },
                        subtitle: {
                            text: 'Click the columns to view versions. Click again to view brands.'
                        },
                        xAxis: {
                            categories: categories,
                            labels: {
                                rotation: -55,
                                align: 'right',
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            }
                        },
                        yAxis: {
                            title: {
                                text: null
                            },
                            labels: {
                                formatter: function() {
                                    return Highcharts.numberFormat(this.value, 0);
                                }
                            },
                            showFirstLabel: false
                        },
                        plotOptions: {
                            column: {
                                cursor: 'pointer',
                                point: {
                                    events: {
                                        click: function() {
                                            var drilldown = this.drilldown;
                                            if (drilldown) { // drill down
                                                setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                                            } else { // restore
                                                setChart(name, categories, data);
                                            }
                                        }
                                    }
                                },
                                dataLabels: {
                                    enabled: true,
                                    rotation: -60,
                                    color: '#000',
                                    align: 'center',
                                    y: -15,
                                    x: 3,
                                    formatter: function() {
                                        return this.y + '%';
                                    },
                                    style: {
                                        fontSize: '8px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            }
                        },
                        tooltip: {
                            formatter: function() {
                                var point = this.point,
                                    s = this.x +':<b>'+ this.y +'% market share</b><br/>';
                                if (point.drilldown) {
                                    s += 'Click to view '+ point.category +' versions';
                                } else {
                                    s += 'Click to return to browser brands';
                                }
                                return s;
                            }
                        },
                        series: [{
                            name: name,
                            data: data,
                            color: 'white'
                        }],
                        exporting: {
                            enabled: false
                        }
                    });
                });

            });
        </script>
        {% include 'BaseEJSTreeGridBundle::createGrid.js.twig' with {
            'gridContainerId' : gridOptionsGenerator.containerId, 
            'gridOptions'     : gridOptionsGenerator.options,
            'gridId'          : gridOptionsGenerator.gridId         }
        %}
    {% endblock %}

    {% block cdBreadCrumb %}
        <li class="active">
            <span>
                <img src="{{ asset('images/icons/color/24/chart.png') }}" alt="Mis gastos" />
                Mis gastos
            </span>
        </li>
    {% endblock %}

    {% block cdContentArea %}
        <div class="grid_4">
            <div class="da-panel">
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="{{ asset('images/icons/color/16/note.png') }}" >
                        Cuentas cerradas anteriormente
                    </span>
                </div>
                <div class="da-panel-content " >
                    <div id="msg"></div>
                    <div id="{{ gridOptionsGenerator.containerId }}"></div>
                </div>
                <div class="da-panel-content with-padding">
                    <div style="text-align:center">
                        <button id="da-ex-dialog-modal" onclick="verByCuenta('Dia')" class="da-button blue">Ver cuenta</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="da-panel">
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="{{ asset('images/icons/color/16/note.png') }}" >
                        Gr&aacute;fico Top 15
                    </span>
                </div>
                <div class="da-panel-content with-padding">
                    <div id="containerHighchart"></div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endspaceless %}
    