{% extends '::cdominguezbase.html.twig' %}
{% set active = 'Cuentas' %}
{% spaceless %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/baseejstreegrid/Grid/GridE.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/baseejstreegrid/js/gridExtension.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/mysitecdominguez/js/cuentas.js') }}" ></script>
        <script type="text/javascript">
            $('#da-wrapper').css('min-width', 200);
            var _cdominguez = {
                'urls'  : {
                    'cuentas' : '{{ path('cd_cuentas') }}'
                }
            };
        </script> 
        {% include 'BaseEJSTreeGridBundle::createGrid.js.twig' with {
            'gridContainerId' : gridOptionsGenerator.containerId, 
            'gridOptions'     : gridOptionsGenerator.options,
            'gridId'          : gridOptionsGenerator.gridId }
        %}
        {% include 'MySiteCDominguezBundle::Cuentas/createChartTop15.js.twig' with {
            'dataSeries'  : dataChartTop15 }
        %}
    {% endblock %}

    {% block cdBreadCrumb %}
        <li class="active">
            <span>
                <img src="{{ asset('images/icons/color/24/chart.png') }}" alt="Mis gastos" />
                Mis gastos
            </span>
        </li>
    {% endblock %}

    {% block cdContentArea %}
        <div class="grid_4">
            <div class="da-panel">
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="{{ asset('images/icons/color/16/note.png') }}" >
                        Cuentas cerradas anteriormente
                    </span>
                </div>
                <div class="da-panel-content " >
                    <div id="msg"></div>
                    <div id="{{ gridOptionsGenerator.containerId }}"></div>
                </div>
                <div class="da-panel-content with-padding">
                    <div style="text-align:center">
                        <button id="da-ex-dialog-modal" onclick="verByCuenta('Dia')" class="da-button blue">Ver cuenta</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="da-panel">
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="{{ asset('images/icons/color/16/note.png') }}" >
                        Gr&aacute;fico Top 15
                    </span>
                </div>
                <div class="da-panel-content with-padding">
                    <div id="containerHighchart"></div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endspaceless %}
    