{% extends '::cdominguezbase.html.twig' %}
{% set active = 'Cuentas' %}
{% spaceless %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/baseejstreegrid/Grid/GridE.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/baseejstreegrid/js/gridExtension.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/mysitecdominguez/js/cuentas.js') }}" ></script>
        <script type="text/javascript">
            $('#da-wrapper').css('min-width', 200);
            var _cdominguez = {
                'urls'  : {
                    'dataURL'   : '{{ gridOptionsGenerator.options['Data']['Url']|raw }}'.replace(/&pcolGrouping=[^&]*/, ''),
                    'layoutURL' : '{{ gridOptionsGenerator.options['Layout']['Url']|raw }}'.replace(/&pcolGrouping=[^&]*/, '')
                }
            };
        </script> 
        {% include 'BaseEJSTreeGridBundle::createGrid.js.twig' with {
            'gridContainerId' : gridOptionsGenerator.containerId, 
            'gridOptions'     : gridOptionsGenerator.options,
            'gridId'          : gridOptionsGenerator.gridId         }
        %}
        {% include 'MySiteCDominguezBundle::Charts/createChartTop15.js.twig' with {
            'dataSeries' : dataChartTop15['dataChart'],
            'colors'     : dataChartTop15['colors'] }
        %}
    {% endblock %}

    {% block cdBreadCrumb %}   
        <li>
            <a href="{{ path('cd_cuentas') }}"><img src="{{ asset('images/icons/color/24/chart.png') }}" alt="Mis cuentas" />Mis cuentas</a>
        </li>
        <li class="active">
            <span>ID: [2] Friday 29 June 2012</span>
        </li>
    {% endblock %}

    {% block cdContentArea %}
        <div class="grid_2">
            <div class="da-panel">
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="{{ asset('images/icons/color/16/note.png') }}" >
                        Cuenta: ID: [2] Friday 29 June 2012
                    </span>
                </div>
                <div class="da-panel-content with-padding">
                    <div style="text-align:center;">
                        <input type="button" onclick="filterGrid('Dia')" id="group-by-dia" class="da-tooltip-s da-button green" value="Día" original-title="Agrupar datos por día.">
                        <input type="button" onclick="filterGrid('Categoria')" id="group-by-categoria" class="da-tooltip-w da-button pink" value="Categoria" original-title="Agrupar datos por categoria.">
                    </div>
                </div>
                <div class="da-panel-content " >
                    <div id="msg"></div>
                    <div id="{{ gridOptionsGenerator.containerId }}"></div>
                </div>
            </div>
        </div>
        <div class="grid_2">
            <div class="da-panel">
                <div class="da-panel-header">
                    <span class="da-panel-title">
                        <img src="{{ asset('images/icons/color/16/note.png') }}" >
                        Gr&aacute;fico Top 15
                    </span>
                </div>
                <div class="da-panel-content">
                    <div id="containerHighchart"></div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endspaceless %}
    